body {
    background-color: #f2f2f2;
    padding: 12px;
}

#chess {
    background-color: #fff;
    -moz-box-shadow:    3px 3px 25px 8px #ddd;
    -webkit-box-shadow: 3px 3px 25px 8px #ddd;
    box-shadow:         3px 3px 25px 8px #ddd;
    background-image: url('../img/board.png');
    display:block;
}

#move{
    margin-top:24px;
}
#move input {margin-left:0}